.product__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;

    padding: 1rem;
}

.product__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.product__features-container__feature-title h1 {
    font-weight: normal;
    font-size: 2em;
    text-align: left;
}

.product__features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: rgb(110, 110, 110);
    margin-bottom: 0.25rem;
}

.product__features-container_feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
    font-size: 2em;
    text-align: left;
}


@media screen and (max-width: 550px) {
    .product__features-container__feature-title h1 {
        font-size: 1.5em;
    }

    .product__features-container_feature-text {
        font-size: 1.3em;
        line-height: 30px;
    }

    .product__features-container__feature {
        margin: 0rem 0;
    }
}