.buttonRegister {
    padding: 0.5rem 1rem;
    color: #CDF72B;
    margin: 10px;
    background: transparent;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    border: 2px solid #CDF72B;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease all;
}
.buttonRegister:hover {
    background-color: #CDF72B;
    color: #2c2c2c;
}

strong {
    font-weight: 200;
}

.modal {
    font-size: 12px;
    background-color: rgb(255, 255, 255);
  }
  .popup-content{
    border: 2px solid #CDF72B;
    width: 70%;
  }
  .modal > .header {
    width: 100%;
    color: #000000;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  .content input {
    border: 1px solid rgb(189, 189, 189);
    padding: 10px;
    margin: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
  }
  .content button {
    color: #CDF72B;
    background-color: black;
    padding: 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 15px;
  }
  .button{
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(143, 143, 143);
    color: rgb(143, 143, 143);
    cursor: pointer;
  }
  .button:hover {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

@media screen and (max-width:600px){

  .modal > .content {
    width: 170px;
  }
}