.product__header {
    display: flex;
    background: rgb(59,58,58);
    background: linear-gradient(180deg, rgba(59,58,58,0.6278886554621849) 0%, rgba(255,255,255,0) 31%);}
.product__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.product__header-content h1 {
    font-size: 6em;
    font-weight: normal;
    line-height: 75px;
    color: #CDF72B;
}

.product__header-content p {
    font-style: normal;
    font-size: 1.4em;
    line-height: 20px;
    margin-top: 1.5rem;
    color: #f7ffed;
}

.product__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem; 
    display: flex;
}

.product__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    line-height: 20px;
    padding: 0 1rem;
    outline: none;
    background-color: #3d3d3d;
    color: rgb(255, 255, 255);
    font-size: 1em;
    border: 3px solid #3d3d3d;
    font-family: 'Bebas Neue', cursive;
}

.product__header-content__input button {
    background-color: transparent;
    flex:  0.6;  
    width: 100%;
    min-height: 50px;
    color: #CDF72B;
    outline: none;
    padding: 0 1rem;
    font-size: 1.2em;
    border: 2px solid #CDF72B;
    cursor: pointer;
    transition: 0.2s ease all;
    font-family: 'Bebas Neue', cursive;
}
.product__header-content__input button:hover {
    color: #2c2c2c;
    background-color: #CDF72B;
}

.product__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__header-image img {
    width: 100%;
    height: 100%;
}

@media screen and ( max-width: 1310px) {
    .product__header {
        flex-direction: column;
    }
    .product__header-content{
        margin:  0 0 3rem;
    } 
    .product__header-content__input button {
        font-size: 0.9em;
    }
    .product__header-content__input input,
    .product__header-content__input button {
        font-size: 1.1em;
    }
}

@media screen and ( max-width: 650px) {
    .product__header h1 {
        font-size: 3em;
        line-height: 50px;
    }
    .product__header p {
        font-size: 1em;
        line-height: 20px;
    } 
    .product__header-content__input input,
    .product__header-content__input button {
        font-size: 0.8em;
    }
    .product__header-content__input button {
        border: 2px solid #CDF72B;
    }
}

@media screen and ( max-width: 490px) {
    .product__header h1 {
        font-size: 3em;
        line-height: 40px;
    }
    .product__header p {
        font-size: 0.8em;
    }  
}